html {
    --tg-viewport-height: auto;
    --tg-viewport-stable-height: auto;
}

body {
    margin: 0;
    background: var(--tg-theme-secondary-bg-color);
    font-family: sans-serif;
    font-size: 14px;
}

.languages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.languages-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.language {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    width: 260px;
    display: flex;
    flex-direction: column;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.welcome-image {
    max-width: 160px;
}

.welcome-image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.welcome-text {
    color: var(--tg-theme-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}