/* body {
    margin: 0;
    background: var(--tg-theme-secondary-bg-color);
    font-family: sans-serif;
    font-size: 14px;
}

.categories {
}

.categories-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.category {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    width: 280px;
    display: flex;
    flex-direction: column;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 10px 10px 10px 10px;
} */